<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" *ngFor="let user of users">
      <div class="card h-100">
        <img [src]="user.picture" class="card-img-top" [alt]="user.firstName">
        <div class="card-body">
          <h5 class="card-title">{{user.title | title}} {{user.firstName}} {{user.lastName}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">
            <span class="text-muted">ID: {{user.id}}</span>
          </p>
        </div>
      </div>
    </div>

  </div>